# =========================================
#   IntelliJ IDEA / JetBrains
# =========================================
.idea/
*.iml
*.iws
*.ipr

# =========================================
#   Build / Output folders
# =========================================
out/
target/
build/

# =========================================
#   Logs & Reports
# =========================================
*.log
*.tmp
*.swp
*.bak
*.class
*.jar
*.war
*.ear

# =========================================
#   OS-specific files
# =========================================
.DS_Store
Thumbs.db
desktop.ini

# =========================================
#   Gradle / Maven
# =========================================
.gradle/
!gradle-wrapper.jar
**/mvnw
**/mvnw.cmd
**/gradlew
**/gradlew.bat

# =========================================
#   Selenium / WebDrivers / Temp
# =========================================
chromedriver.log
geckodriver.log
webdriver.log

# =========================================
#   IntelliJ plugin / Test results
# =========================================
*.html
test-output/
reports/
allure-results/
allure-report/

# =========================================
#   Environment files
# =========================================
.env
*.env
